
      <!--PRODUCT DETAIL STARTS-->
      <div id="product_detail">
        <!--Product Left Starts-->
        <div class="product_leftcol">
          <div id="main_product_image">
            <%= link_to image_tag(@product.image.url(:large)), @product.image.url(:big), rel: :lazybox %>
          </div>
          <ul class="pr_gallery" style="margin-top:5px;">
            <% @product.eshop_products_in_stock.each do |product| %>
              <li>
                <% product.images.each do |image| %>
                  <a href="#" class="change_product_image" id="<%= "product_#{product.id}_image_#{image.id}" %>">
                    <%= image_tag image.image.url(:small) %>
                  </a>
                <% end %>
              </li>
              <li class="big_images">
                <% product.images.each do |image| %>
                  <%= link_to image_tag(image.image.url(:large)), image.image.url(:big), rel: :lazybox,
                    class: "hidden product_#{product.id}_image_#{image.id} color_#{product.color.id}"
                  %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <!--Product Left Ends-->
        <!--Product Right Starts-->
        <div class="product_rightcol"> <small class="pr_type"><%= @product.specification %></small>
          <h1>
            <%= @product.name %>
          </h1>
          <p class="short_dc">
            <%= @product.material %>
          </p>
          <p class="short_dc">
            <%= @product.description %>
          <div class="pr_price">
            <big>
              <%= @product.price %>
            </big>
            <!-- <small>$72.00</small> -->
          </div>
          <div class="size_info">
            <div class="size_sel">
              <label>VEĽKOSŤ :</label>
              <select class="product_select select_sizes">
                <option>VYBRAŤ</option>
                <%= options_from_products(@product.eshop_products_in_stock, :size).html_safe %>
              </select>
            </div>
            <div class="color_sel">
              <label>FARBA :</label>
              <select class="product_select select_colors">
                <option>VYBRAŤ</option>
                <%= options_from_products(@product.eshop_products_in_stock, :color).html_safe %>
              </select>
            </div>
          </div>
          <div class="qty_info">
            <div class="quantity">
              <label>Množstvo :</label>
              <select class="select_quantity">
                <option>VYBRAŤ</option>
              </select>
            </div>
          </div>
          <div class="add_to_buttons">
            <button onClick="parent.location='leisure_cart.html'" class="add_cart">Pridať do košíka</button>
          </div>
          <!-- <div class="product_overview">
            <h4>Quick Overview</h4>
            <ul>
              <li>Long sleeves with single button cuffs.</li>
              <li>Cuffs can be rolled up and secured with button-tabs.</li>
              <li>Standing collar with notched detailing.</li>
              <li>Front button placket.</li>
              <li>Hem is longer in back.</li>
            </ul>
          </div> -->
          <!--Options-->
          <div class="product_options">

          </div>
        <!--Product Right Ends-->

      </div>

      <!--PRODUCT DETAIL ENDS-->
      <!--Product List Starts-->
      <div class="products_list products_slider">
        <h2 class="sub_title">You might also like</h2>
        <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">

          <% @products.each do |product| %>
            <%= render 'eshop_products/product_list', product: product %>
          <% end %>

        </ul>
      </div>
      <!--Product List Ends-->
