<!DOCTYPE html>
<html>
<head>
  <title>Cribs</title>
  <%= stylesheet_link_tag "admin/admin" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <%= render 'shared/navbar' %>

  <%= bootstrap_flash %>

  <%= yield %>

</div>

</body>
</html>
