<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Cribs.sk</title>

<!--CSS-->
<%= stylesheet_link_tag  "application" %>

<!--Google Webfont -->
<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>

<%= javascript_include_tag "application" %>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<%= csrf_meta_tags %>

</head>
<body>
<div class="wrapper">
    <div class="header_container">
        <!--Header Starts-->
        <header>
            <!-- <div class="top_bar clear">
                <!--Language Switcher Starts-->
                <!-- <div class="language_switch"> <a class="active" href="#" title="ENGLISH">EN</a> <a href="#" title="FRENCH">FR</a> </div> -->
                <!--Language Switcher Ends-->
                <!--Top Links Starts-->
                <!-- <ul class="top_links"> -->
                    <!-- <li><a href="#">MOJE KONTO</a></li> -->
                    <!-- <li><a href="#">WISHLIST</a></li> -->
                    <!-- <li><a href="#">LOGIN</a></li> -->
                    <!-- <li class="highlight"><a href="#">SIGNUP</a></li> -->
                <!-- </ul> -->
                <!--Top Links Ends-->
            <!-- </div> -->
            <!--Logo Starts-->
            <h1 class="logo">
                <a href="leisure_index.html">
                    <%= image_tag 'logos.png' %>
                </a>
             </h1>
            <!--Logo Ends-->
            <!--Responsive NAV-->            <div class="responsive-nav" style="display:none;">
                <select  onchange="if(this.options[this.selectedIndex].value != ''){window.top.location.href=this.options[this.selectedIndex].value}">
                    <option selected="" value="">Navigate...</option>
                    <option value="leisure_index.html"> Home</option>
                    <option value="leisure_listing.html"> -  Listing Page</option>
                    <option value="leisure_detail.html">Product Page</option>
                    <option value="leisure_cart.html"> -  Shopping Cart</option>
                    <option value="leisure_checkout.html"> -  Checkout</option>
                    <option value="leisure_contact.php">Contact</option>
                </select>
            </div>
            <!--Responsive NAV-->
            <!--Search Starts-->
            <form class="header_search">
                <div class="form-search">
                    <input id="search" type="text" name="q" value="" class="input-text" autocomplete="off" placeholder="Hľadaj">
                    <button type="submit" title="Search"></button>
                </div>
            </form>
            <!--Search Ends-->
        </header>
        <!--Header Ends-->
    </div>
    <div class="navigation_container">
        <!--Navigation Starts-->
        <nav>
            <ul class="primary_nav">

                <% Category.all.each do |category| %>
                    <li>
                        <%= link_to category.name, category_path(category) %>
                    </li>
                <% end %>
                <!-- <li class="active"><a href="leisure_listing.html">Women</a></li> -->

            </ul>
            <div class="minicart"> <a href="#" class="minicart_link" > <span class="item"><b>0</b> POLOŽIEK /</span> <span class="price"><b>0 eur</b></span> </a>
                <!-- <div class="cart_drop"> <span class="darw"></span>
                    <ul>
                        <li>
                            <%= image_tag 'mini_c_item1.png' %>
                            <a href="#">Clogs Beach/Garden Clog</a> <span class="price">$49.90</span>
                        </li>
                        <li><img src="images/mini_c_item2.png"><a href="#">Faded chambray shorts</a> <span class="price">$12.90</span></li>
                        <div class="cart_bottom">
                            <div class="subtotal_menu"><small>Subtotal:</small><big>$69.20</big></div>
                            <a href="leisure_cart.html">Checkout</a></div>
                    </ul>
                </div> -->
            </div>
        </nav>
        <!--Navigation Ends-->
    </div>
    <div class="section_container">
        <!--Mid Section Starts-->
        <section>

            <%= yield %>

            <div class="subscribe_block">
                <div class="find_us">
                    <h3>Find us on</h3>
                    <a class="twitter" href="#"></a> <a class="facebook" href="#"></a> <a class="rss" href="#"></a> </div>
                <div class="subscribe_nl">
                    <h3>Subscribe to our Newsletter</h3>
                    <small>Instant wardrobe updates, new arrivals, fashion news, don’t miss a beat – sign up to our newsletter now.</small>
                    <form id="newsletter" method="post" action="#">
                        <input type="text" class="input-text" value="Enter your email" title="Enter your email" id="newsletter" name="email">
                        <button class="button" title="" type="submit"></button>
                    </form>
                </div>
            </div>
            <!--Newsletter_subscribe Ends-->
        </section>
        <!--Mid Section Ends-->
    </div>
</div>
</body>
</html>
